    <mat-grid-list cols="3" rowHeight="280px">
        <mat-grid-tile>
          <mat-card class="card3">
              <img src="assets/img/icon/student.png" width="60" height="60">
            <hr>
            <div class="item">
            <h1>{{count.stdCounter}}</h1>
                El&#232;ves
            </div>
          </mat-card>
        </mat-grid-tile>

       <mat-grid-tile>
          <mat-card class="card2">
              <img src="assets/img/icon/teacher1.png" width="60" height="60">
            <hr>
            <div class="item">
                <h1>{{count.tchCounter}}</h1>
                Professeurs   
            </div>
          </mat-card>
        </mat-grid-tile>

       <mat-grid-tile>
          <mat-card class="card1">
              <img src="assets/img/icon/smalls.png" width="60" height="60">
            <hr>
            <div class="item">
                <h1>{{count.empCounter}}</h1>
                Employ&#233;s
            </div>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <hr>
    <event-def></event-def>

