
  <mat-sidenav-container class="m-std">
    <mat-sidenav #sidenav #start mode="side" opened="true" class="std-sidenav">
      
    <div class="wrap">
      <div class="">
        <!-- header -->
       
        <div style="height: 1px"></div>
        <mat-grid-list cols="1" rowHeight="50px">

          <mat-grid-tile [colspan]="1" class="tit m-grid gcel"> Eleves </mat-grid-tile>

          <!-- home -->
          <mat-grid-tile [colspan]="1" class="m-grid gcel current-std" [routerLink]="['/home', {outlets: {'home': ['std_home']}}]">
            <div class="itm"> 
                <br/>
                <img src="assets/img/icon/home.png" width="30" height="30">
                <p class="h8">Acceuil</p>
            </div>
          </mat-grid-tile>

          <!-- mgr -->        
          <mat-grid-tile [colspan]="1" class="curs m-grid" [routerLink]="['/home', {outlets: {'home': ['std_mgr']}}]">
            <div class="itm"> 
                <br/>
                <img src="assets/img/icon/user.png" width="30" height="30">
                <p class="h8">Gest. El.</p>
            </div>
          </mat-grid-tile>

          <!-- pay -->
          <mat-grid-tile [colspan]="1" class="curs m-grid" [routerLink]="['/home', {outlets: {'home': ['std_pay']}}]">
            <div class="itm"> 
                <br/>
                <img src="assets/img/icon/pay.png" width="30" height="30">
                <p class="h8">Gest. Paie</p>
            </div>
          </mat-grid-tile>

          <!-- report -->
          <mat-grid-tile [colspan]="1" class="curs m-grid">
            <div class="itm"> 
                <br/>
                <img src="assets/img/icon/report.png" width="30" height="30" [routerLink]="['/home', {outlets: {'home': ['std_report']}}]">
                <P class="h8">Rapports</P>
            </div>
           </mat-grid-tile>
          
        </mat-grid-list>
      </div>

    </div>

    </mat-sidenav>

    <mat-sidenav-content class="std-contain">
         <router-outlet name="home"></router-outlet>

         <div style="margin-left: 30px; margin-right: 20px;">
                <mat-grid-list cols="2" rowHeight="400px">
                    <mat-grid-tile>
                      <canvas #barCanvas></canvas>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="circle">
                            <div class="nbstd">
                                <p style="font-size: 40px;">{{nbstd}}</p>
                                <p>ELEVES</p>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
        </div>
        <div class="wlc">
            {{inst.institutionName}}
        </div>
        
    </mat-sidenav-content>
  </mat-sidenav-container>

